.cont-Hero{
    height:600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-family:Montserrat;
    font-weight: 700;
    font-size: 2em;
    color:#fff;
    margin-bottom:1em;
}
.title{
    font-family:Montserrat;
    font-weight: 700;
    font-size: 4em;
    text-transform: uppercase;
    color:#fff;
}
.title-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}